:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --grid-light: #e1e1e1;
}

.result {
  border: solid #000 1px;
  height: 780px;
  background-size: 20px 20px;
  background-image:
          linear-gradient(to right, var(--grid-light) 1px, transparent 1px),
          linear-gradient(to bottom, var(--grid-light) 1px, transparent 1px);
}

.result.big {
  height: 1860px;
}