<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="./resources/svg.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{meta_description}}">
  <title>{{#if env_dev}}[DEV] {{/if}}Convert XCS to SVG{{title}}</title>
</head>
{{#if env_prod}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DGDCNJ4PQS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DGDCNJ4PQS');
</script>
{{/if}}
{{#if env_dev}}
<script>
  gtag = () => {};
</script>
{{/if}}

<body data-ui5-compact-size>

<div id="app" class="container-lg">

  <header>
    <nav class="mb-4 navbar navbar-expand-lg bg-body-tertiary text-white navbar-dark bg-primary">
      <div class="container-fluid">

          <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown">
            Convert XCS to SVG
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://www.lasergridmaster.com">LaserGridMaster.com</a></li>
          </ul>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link {{home_active}}" href="./">Home</a>
            <a class="nav-link {{about_active}}" href="./about.html">About</a>
            <a class="nav-link {{contact_active}}" href="./contact.html">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>